<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col animate__animated animate__fadeIn" *ngFor="let movie of movies">
      <div class="card h-100 text-white bg-dark poster" (click)="onMovieClick( movie )">
        <img [src]="movie.poster_path | poster" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-muted">
            <star-rating
                [value]="movie.vote_average"
                totalstars="10"
                checkedcolor="yellow"
                uncheckedcolor="grey"
                size="16px"
                readonly="false"></star-rating>
          </small>
          <small class="text-white">{{movie.vote_average | number: '1.1-2'}}</small>
        </div>
      </div>
    </div>
</div>
